{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Saturn by @flamekaizar</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Saturn is free PSD &amp; HTML template by @flamekaizar">
    <meta name="author" content="Afnizar Nur Ghifari">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/kube.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.min.css' %}" />
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
</head>
<body>
	<!-- Navigation -->
	<div class="main-nav">
		<div class="container">
			<header class="group top-nav">
				<nav class="navbar logo-w navbar-left" >
					<a class="logo" href="index.html">Blog</a>
				</nav>
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo">Blog</span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav navbar-right">
				    <ul>
				        <li class="active"><a href="index.html">Home</a></li>
				        <li><a href="#">About</a></li>
				        <li><a href="#">Archive</a></li>
				        <li><a href="#">Contact</a></li>
				    </ul>
				</nav>
			</header>
		</div>
	</div>

	<!-- Introduction -->
	<div class="intro">
		<div class="container">
			<div class="units-row">
			    <div class="unit-10">
			    	<img class="img-intro" src="{% static 'img/avatar.jpg' %}" alt="">
			    </div>
			    <div class="unit-90">
			    	<p class="p-intro">Hello, I’m shuttlesworthNEO. This is my blog.</p>
			    </div>
			</div>
		</div>
	</div>
	
	<!-- Content -->
	<div class="content">
		<div class="container">
			<!-- Post -->
			<div class="post">
				<!-- Heading -->
				<a href="#"><h1></h1></a>

				<div class="in-content">
					{% block content %}
					{% endblock %}
					<a class="read-more" href="#">Read more</a>
				</div>
			</div>
			<!-- /post -->

		</div>
	</div>

	<footer>
		<div class="container">
			<div class="units-row">
			    <div class="unit-50">
			    	<button class="btn btn-black"><i class="fa fa-arrow-left"></i> PREVIOUS</button>
			    </div>
			    <div class="unit-50">
					<ul class="social list-flat right">
						<li><a href="mailto:gupta.puneet0696@gmail.com"><i class="fa fa-send"></i></a></li>
						<li><a href="https://www.facebook.com/puneet.gupta.758" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/PuneetGuptaNEO" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://plus.google.com/u/0/108308178426338478590" target="_blank"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="https://www.linkedin.com/in/puneet-gupta-7936b2105" target="_blank"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="https://www.instagram.com/shuttlesworth.neo/" target="_blank"><i class="fa fa-instagram"></i></a></li>
						<li><a href="https://github.com/shuttlesworthNEO" target="_blank"><i class="fa fa-github"></i></a></li>
						<li><a href="https://www.kaggle.com/shuttlesworthneo" target="_blank"><i class="fa fa-xing-square"></i></a></li>
					</ul>
			    </div>
			</div>
		</div>
	</footer>

	<!-- Javascript -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/kube.min.js' %}"></script>
</body>
</html>